{% extends "base.html" %}
{% block title %}Sim{% endblock %}
{% block content %}
<div class="">
        {% if dps %}
        <span class="text-gray-300 px-6">{{ dps }}</span>
        {% else %}
        <div class="max-w-6xl mx-auto">
                <div class="grid grid-cols-2 justify-center">
                        <div class="flex justify-end px-6">
                                <p class="text-gray-300 right-0">Character name</p>
                        </div>
                        <div class="">
                                <input type="text" class="text-gray-300 bg-gray-500 rounded-md focus:outline-none px-1">
                        </div>
                </div>
                <div class="flex justify-center py-4">
                        <p class="text-gray-300">or</p>
                </div>
                <div class="grid grid-cols-2 justify-center">
                        <div class="flex justify-end">
                                <p class="text-gray-300 px-6">SimC string</p>
                        </div>
                        <div>
                                <textarea rows="8" class="block text-gray-300 bg-gray-500 rounded-md focus:outline-none px-1 w-5/6"></textarea>
                        </div>
                </div>
        </div>
        {% endif %}
</div>

{% endblock %}