{% if dps %}
<div class="max-w-6xl mx-auto">
    <div class="flex justify-center ">
        <span class="text-gray-300 text-3xl">Quick sim summary</span>
    </div>
    <table class="flex justify-center text-left table-auto min-w-max text-gray-300 border-spacing-y-4 pt-8">
        <tr>                
            <td class="px-4 text-3xl font-bold">DPS</td>
            <td class="px-4 text-3xl font-bold">{{ dps }}</td>
        </tr>
        <tr>                
            <td class="px-4">Name</td>
            <td class="px-4">{{ char_name }}</td>
        </tr>
        <tr>                
            <td class="px-4">Class</td>
            <td class="px-4">{{ char_class }}</td>
        </tr>
        <tr>                
            <td class="px-4">Spec</td>
            <td class="px-4">{{ specialization_name }}</td>
        </tr>
        <tr>                
            <td class="px-4">Item level</td>
            <td class="px-4">{{ item_level }}</td>
        </tr>
    </table>
    <div class="flex justify-center py-16">
        <a href="/">
        <button class="text-gray-300 hover:bg-gray-300/10 rounded-[--btn-border-radius] px-4 py-2">
                Check leaderboard
        </button>
        </a>
    </div> 
</div>
{% endif %}