{% extends "base.html" %}
{% block title %}Sim{% endblock %}
{% block content %}
<div id="main-div">
        <div class="max-w-6xl mx-auto">
                <div class="flex justify-center ">
                        <span class="text-gray-300 text-3xl">Quick sim</span>
                    </div>
                <div class="grid grid-cols-2 justify-center pt-8">
                        <div class="flex justify-end px-6">
                                <p class="text-gray-300 right-0">Character name</p>
                        </div>
                        <div class="relative">
                                <input _="on keyup queue none 
                                        remove .invisible from #name_spinner
                                        put '' into the next <output/>
                                        wait 2s then
                                        add .data 
                                        send clear to the <textarea/>
                                        remove .text-red-300 from the next <output/>
                                        remove .text-green-300 from the next <output/>
                                        then
                                        set charName to my value
                                        fetch  `/sim/check-name/?char_name=${charName}`
                                        add .invisible to #name_spinner
                                        if the result is 'ok' send enable_button to the <button/> 
                                        put 'okay' into the next <output/>
                                        add .text-green-300 to the next <output/>
                                        else add .text-red-300 to the next <output/>
                                        put result into the next <output/>
                                        end
                                        on clear set my value to ''
                                        put '' into the next <output/>
                                        remove .data
                                        send disable_button to the <button/>"
                                        name="char_name" type="text" class="text-gray-300 bg-gray-500 rounded-md focus:outline-none px-1">
                                        <div id="name_spinner"
                                        class="invisible text-gray-300 inline-block h-5 w-5 animate-spin rounded-full border-2 border-solid border-current border-e-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                                        role="status"></div>
                                <output class="overlay -ml-5"></output>
                        </div>
                </div>
                <div class="flex justify-center py-4">
                        <p class="text-gray-300">or</p>
                </div>
                <div name="simc_string" class="grid grid-cols-2 justify-center">
                        <div class="flex justify-end">
                                <p class="text-gray-300 px-6">SimC string</p>
                        </div>
                        <div>
                                <textarea _="on keyup queue none 
                                        remove .invisible from #simc_spinner
                                        put '' into the next <output/>
                                        wait 500ms then
                                        add .data 
                                        send clear to the previous <input/>
                                        then
                                        set simcString to my value
                                        fetch  `/sim/check-simc-string/` with body: `${simcString}`, method:'POST'
                                        add .invisible to #simc_spinner
                                        if the result is 'ok' send enable_button to the <button/> 
                                        put 'okay' into the next <output/>
                                        add .text-green-300 to the next <output/>
                                        remove .text-red-300 from the next <output/>
                                        else add .text-red-300 to the next <output/>
                                        remove .text-green-300 from the next <output/>
                                        put result into the next <output/>
                                        end
                                        on clear set my value to ''
                                        remove .data
                                        put '' into the next <output/>
                                        send disable_button to the <button/>"
                                        name="simc_string"
                                        rows="8" class="block text-gray-300 bg-gray-500 rounded-md focus:outline-none px-1 w-5/6"></textarea>
                                        <div id="simc_spinner"
                                                class="invisible mt-1 text-gray-300 inline-block h-5 w-5 animate-spin rounded-full border-2 border-solid border-current border-e-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                                                role="status"></div>
                                        <output class="overlay mt-1 -ml-5"></output>
                        </div>
                </div>
                <div class="grid grid-cols-2 justify-center">
                
                <div hx-post="/sim/" hx-include=".data" hx-swap="innerHTML" hx-target="#main-div" hx-indicator="#sim_spinner" class="justify-end flex py-8 -mr-10">
                        <button disabled
                                _="on enable_button remove @disabled from me
                                        on disable_button add @disabled to me"
                                class="justify-end text-gray-300 hover:bg-gray-300/10 rounded-[--btn-border-radius] px-4 py-2">
                                Run sim</button>
                </div> 
                <div class="flex py-11 align-middle ml-10"><div id="sim_spinner"
                        class="htmx-indicator text-gray-300 h-5 w-5 animate-spin rounded-full border-2 border-solid border-current border-e-transparent motion-reduce:animate-[spin_1.5s_linear_infinite]"
                        role="status"></div></div>
                </div>
        </div>
</div>

{% endblock %}